[submodule "src/wiringPi"]
	path = src/wiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "SQLiteCpp"]
	path = SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "src/WiringPi"]
	path = src/WiringPi
	url = https://github.com/WiringPi/WiringPi
